<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306001638277-vil7pem4u33n9is4d47quq4goki5eib0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306001638277-vil7pem4u33n9is4d47quq4goki5eib0</string>
	<key>API_KEY</key>
	<string>AIzaSyAT3fKHd2v_37zU1RxJaTMd6kie8eufZJg</string>
	<key>GCM_SENDER_ID</key>
	<string>306001638277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jatin.GoGo</string>
	<key>PROJECT_ID</key>
	<string>gogo-912fe</string>
	<key>STORAGE_BUCKET</key>
	<string>gogo-912fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306001638277:ios:e3f017fd889dc0da014aec</string>
</dict>
</plist>